body {
  background-color:rgb(223, 187, 214);
  padding: 5px;
}

nav {
  background-color:rgb(119, 90, 122);
  padding: 20px;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
}

a {
  color: black;
  font-weight: bold;
  padding: 10px;
  padding-top: 25px;
}

a {
  background-color: rgb(119, 90, 122);
  transition: background-color 0.5s;
}

a:hover {
  background-color: rgb(251, 75, 178);
}
main {
  background-color: rgb(224, 139, 219);
}

.alpha {
    gap: 20px;
    display: flex;
    width: 100%;
    border-radius: 2px;
    border-color: black;
  }

  .alpha img{
    width: 100%
  }
  